
.fade-in {
  &-enter {
    opacity: 0;
    transform: translate3d(0, -3px, 0);
  }
  &-entering {
    transition: all 200ms ease;
  }
  &-exiting {
    opacity: 0;
    transform: translate3d(0, -3px, 0);
    transition: all 300ms ease;
  }
}

.slide-to-top {
  &-enter {
    transform: translateY(100%);
  }
  &-entering,
  &-exiting {
    transition: transform 300ms ease;
  }
  &-exiting {
    transform: translateY(100%);
  }
}
